@mixin tituloContacto {
    display: block;
    text-align: center;
    border-radius: 20px;
    padding: 2px 2px;
    background-color: rgb(141, 141, 141);
    color: white;
}

#mainContact {
    padding-top: 85px;
    padding-bottom: 140px;

    .titleContact {
        @include tituloContacto();
    }

    .subTitleContact {
        @include tituloContacto();
    }
}

h2{
    padding-bottom: 25px;
}

.logoContainerContacto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:row;
    justify-content: center;

    .logoContacto{
        border-radius: 65px;
        width: 20%;
        padding-top: 25px;
    }
}

.container {

    #boxText {
        display: flex;
        padding: 10px;
        border-radius: 10px;
    }

    #boxText2 {
        background-color: rgb(141, 141, 141);
        border-radius: 10px;
    }
}

.containerForm {
    // padding: 5px;

    .formClass{
        outline: none;
    }

    .form-label{
        color: white;
    }

    h6 {
        padding-top: 5px;
    }

    .form-control{
        outline: none;

    &:focus{
        border-color:rgb(141, 141, 141);
    }
    }
    .form-text {
        color: black;
    }
    
}