.containerHorario{
    text-align: center;
    background-color: darkgray;
    padding: 2rem;
    
    .row{
        // display: flex;
        // flex-wrap: wrap;

        #boxText{
            border: solid 2px white;
            border-radius: 20px;
            &:hover{
                transform: scale(1.05);
                background-color: rgb(92, 90, 90);
                box-shadow: 2px 2px black;
                color: white;
                // text-transform: uppercase;
            } 
        }
        // .textCard{
        //     background-color: blue;
        // }
            #logoNovedad{
                margin-top: 10px;
                &:hover{
                transform: scale(1.10);
                box-shadow: 2px 2px black;
            }
        }
    }    
}