
.containerHorario{
    text-align: center;
    background-color: darkgray;
    padding: 1rem;
    
    .row{
        display: flex;
        flex-wrap: wrap;

        #boxText1, #boxText2, #boxText3{
            border: solid 2px white;
            border-radius: 20px;
            margin-right: -7px;
            

            &:hover{
                transform: scale(1.05);
                background-color: rgb(92, 90, 90);
                box-shadow: 2px 2px black;
                color: white;
                // text-transform: uppercase;
            } 
        }

            #logoNovedad{
                margin-top: 10px;
                &:hover{
                transform: scale(1.10);
                box-shadow: 2px 2px black;
            }
        }
    }    
}



